@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* colorMode 黑暗模式可以使用 dark:[style] */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-c-light-blue: #62a4f5;
  --spacing-c-header-height: 4rem;
}

@layer base {
  :root {
    --text-color: #111827;
    --bg-color: #fff;
  }

  .dark {
    --text-color: #fff;
    --bg-color: #111827;
  }

  html,
  body {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: var(--text-color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;
  }
}

@layer components {
  .c-text-gray {
    @apply text-gray-500 dark:text-gray-300;
  }

  .c-border-gray {
    @apply border-gray-200 dark:border-gray-600;
  }

  .c-rounded-btn {
    @apply p-1 bg-white rounded border border-gray-200 hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-50/20 disabled:opacity-40 disabled:cursor-not-allowed;
  }

  .c-text-link {
    @apply underline underline-offset-4 hover:text-c-light-blue;
  }
}

@import "./typography.css";